*{
    box-sizing: border-box;
}
body{
    margin: 0%;
     font-family: 'Bebas Neue', serif;
}
h1{
    font-size: 70px;
    color: #363958;
    line-height: 15px;
    padding-bottom: 15px;
}
.name{
   color: rgb(240, 109, 95);
}
h2{
    font-size: 60px;
    color: #363958;
    line-height: 15px;
    padding-bottom: 15px;
}
p{
    font-weight: 400;
    color: rgb(51, 42, 42);
    text-align: justify;
    font-family:'Roboto', sans-serif;
    line-height: 25px;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 4%;
    padding-left: 2%;
}
.half-width img{
    margin-left: 25%;
    width: 100%;
    max-width: 400px;
    height: auto;
}
.top-banner{
    background-color: white;
    height: 500px;
    padding-bottom: 10px;
}
.button-link{
    text-decoration: none;
    background-image: linear-gradient(0deg, salmon, tomato );
    padding: 30px 75px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
}
.button-link:hover{
    background-color: royalblue;
    color: rgb(0, 0, 0);
    background-image: linear-gradient(45deg, lightblue, royalblue);
}
.about-area{
background-color: white;
height: 500px;
padding-bottom: 5px;
text-align: justify;
}
/* Facebook */
#fa{
    background-color:  #3B5998;
    padding:10px;
    color: white;
    font-weight: 700;
    border-radius: 10px;
    border: 2px solid white;
  }
  #fa:hover{
    background-color: royalblue;
    color: rgb(0, 0, 0);
    background-image: linear-gradient(45deg, lightblue, royalblue);
  }
.letter{
    font-size: 20px;
}
h3{
    font-size: 25px;
}
.single-exp{
    margin: 1%;
    padding: 1%;
    box-shadow: 0px 5px 5px 5px rgba(128, 128, 128, 0.274);
    border-radius: 15px;
    height: 55%;
    width: 30%;
    background-color: white;
    float: left;
}
.latest{
    margin-bottom: 5%;
    float: left;
    height: 1050px;
    padding-top: 5%;
    background-color: rgba(114, 110, 110, 0.041);
}
.coloring{
    color: #363958;
    font-family:'Roboto', serif;
    font-weight: 700;
    font-size: 28px;
}
#latest-section{
    text-align: center; 
    padding-top: 2%;
}
.picture{
    width: 100%;
}
#full-stack{
    margin-left: 3%;
}
.work{
   background-image: url("imges/works.png");
   background-size: 100%;
   height: 250px;
   clear: both;
   background-repeat: no-repeat;
   margin-left: 15%;
   margin-right: 15%;
   padding-top: 1%;
}
/* .initial{
    width: 40%;
    float: left;
    margin: 5%;

}
#inquiry{
    color: white;
    text-align: center;
    font-weight: 400;
    font-size: 90px;
} */
/* #Chat{
    margin-left: 50%;
    padding: 25px 40px;
    border-radius: 8px;
} */
.own{
    background-color: #e9c8c82c;
    background-size: 100%;
    height: auto;
    clear: both;
    background-repeat: no-repeat;
    padding-left: 1%;
    display:inline-block;
}
#own-head{
    color: black;
    text-shadow:  4px 2px 2px rgb(241, 103, 103);
    font-family: 'Khand', sans-serif;
}
.owner{
    margin: 1%;
    padding: 0.5%;
    box-shadow: 0px 5px 5px 5px rgba(128, 128, 128, 0.274);
    border-radius: 5px;
    height: auto;
    width: 18%;
    background-color: white;
    float: left;
}
.chris{
    width: 100%;
    max-width: 400px;
    height: auto;
    border-radius: 5px;
}
.title{
    font-family: 'Bree Serif', serif;
}
.movies{
    text-align: justify;
    font-family: 'Texturina', sans-serif;
    font-weight: 500;
}
.top{
    font-weight: 800;
}
.download{
    text-decoration: none;
    background-color: tomato;
    padding: 10px 15px;
    border-radius: 5px;
    color: black;
    font-family: 'Bree Serif', sans-serif;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    box-shadow: 0px 0px 4px 1px gray;
}
/*unvisited link*/
.download:link{
    background-color: tomato;
    color: black;
}
/*visited link */
.download:visited{
    background-color: green;
    color: black;
}
/*mouse cursor over link*/
.download:hover{
    background-color: black;
    color: white;
    transition: 0.5s;
}
/*
.trailer{
    width: 40%;
    margin: 5%;
    float: left;
} */
.modiul-five{
    background-color: #705c5c2c;
    background-size: 100%;
    height: 300px;
    clear: both;
    background-repeat: no-repeat;
}
input:focus{
    font-weight: 700;
    font-size: 20px;
    color: red;
}

@media only screen and (min-width: 600px) {
    
    .initial{
        width: 50%;
        float: left;
        margin: auto;
        padding-top: 3%;
        text-align: center;
    
    }
    #inquiry{
        color: white;
        text-align: center;
        font-weight: 400;
        font-size: 90px;
    }
    #Chat{
        margin-left: 35%;
        padding: 25px 40px;
        border-radius: 8px;
    }
  } 