body{
    margin: 0%;
     font-family: 'Bebas Neue', serif;
}
h1{
    font-size: 70px;
    color: #363958;
    line-height: 15px;
    padding-bottom: 15px;
}
.name{
   color: rgb(240, 109, 95);
}
h2{
    font-size: 60px;
    color: #363958;
    line-height: 15px;
    padding-bottom: 15px;
}
p{
    font-weight: 400;
    color: rgb(51, 42, 42);
    text-align: justify;
    font-family:'Roboto', sans-serif;
    line-height: 25px;
    
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 4%;
    padding-left: 2%;
}
.half-width img{
    width: 100%;
}
.top-banner{
    background-color: white;
    height: 500px;
    padding-bottom: 15px;
}

.button-link{
    text-decoration: none;
    background-image: linear-gradient(0deg, salmon, tomato );
    padding: 30px 75px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
}
.button-link:hover{
    background-color: royalblue;
    color: rgb(0, 0, 0);
    background-image: linear-gradient(45deg, lightblue, royalblue);
}
.about-area{
background-color: white;
height: 1000px;
padding-bottom: 10px;
}
/* Facebook */
#fa{
    background-color:  #3B5998;
    padding:10px;
    color: white;
    font-weight: 700;
    border-radius: 10px;
    border: 2px solid white;
  }
  #fa:hover{
    background-color: royalblue;
    color: rgb(0, 0, 0);
    background-image: linear-gradient(45deg, lightblue, royalblue);
  }
.letter{
    font-size: 20px;
}
h3{
    font-size: 25px;
}
.single-exp{
    margin: 1%;
    padding: 1%;
    box-shadow: 0px 5px 5px 5px rgba(128, 128, 128, 0.274);
    border-radius: 15px;
    height: 60%;
    width: 25%;
    background-color: white;
    float: left;
}
.latest{
    margin-bottom: 5%;
    float: left;
    height: 800px;
    padding-top: 8%;
    padding-bottom: 10%;
    background-color: rgba(114, 110, 110, 0.041);
}
.coloring{
    color: #363958;
    font-family:'Roboto', serif;
    font-weight: 700;
    font-size: 28px;
}
#latest-section{
    text-align: center; 
    padding-bottom: 5%;
}
.picture{
    width: 100%;
}
#full-stack{
    margin-left: 8%;
}
.work{
   background-image: url("imges/works.png");
   background-size: 100%;
   background-repeat: no-repeat;
}
.initial{
    width: 40%;
    float: left;
    margin-left: 7%;
    padding-left: 3%;

}
#inquiry{
    text-align: center;
    font-size: 85px;
    margin-left: 5%;
}
#Chat{
    padding: 20px 40px;
    
}